1P3YA.modm
1P3YA.predfrag1d
1P3YA.pssm
1P3YA.Qij
debug1
debug2
debug_try1
error.log
log
longseq_per_20131115.fa
longseq_per_20131115.pssm
query.predfrag1d
test1.predfrag1d
test2.aa
test2.predfrag1d
test4.pssmfilelist
testseq.aa
testseq.pssm
try1
try2
