bak
ChangeLog.txt
Dockerfile
README.md
.mytest

frag1d/bin/build_hsrfrag
frag1d/bin/checkfirst
frag1d/bin/checkresult
frag1d/bin/pssm2modm
frag1d/bin/pssm2Qij
frag1d/bin/reportFrag1D
frag1d/bin/rootname
frag1d/bin/search_new

frag1d/data

*.so.*
*.o
*.log
*~
*.swp
*.swo
*.pyc

.svn
