frag1d/data/nr30/train_fragacc0.db filter=lfs diff=lfs merge=lfs -text
frag1d/data/nr30/train_modm0.db filter=lfs diff=lfs merge=lfs -text
frag1d/data/nr30/train_Qij0.db filter=lfs diff=lfs merge=lfs -text
