bak/
*.so.*
*.o
*.log
*~
*.swp
*.swo
*.bak

build_hsrfrag
checkfirst
checkresult
pssm2modm
pssm2Qij
reportFrag1D
rootname
search_new
.mytest/

ASCII_fragacc.txt
ASCII_Qij.txt
ASCII_modm.txt

frag1d/lib/libmyfunc_debug.so
frag1d/test/1P3YA.Qij
frag1d/test/1P3YA.modm
frag1d/test/1P3YA.predfrag1d
frag1d/test/1P3YA.pssm
frag1d/test/debug1/
frag1d/test/debug2/
frag1d/test/debug_try1/
frag1d/test/log/
frag1d/test/longseq_per_20131115.fa
frag1d/test/longseq_per_20131115.pssm
frag1d/test/query.predfrag1d
frag1d/test/test1.predfrag1d
frag1d/test/test2.aa
frag1d/test/test2.predfrag1d
frag1d/test/test4.pssmfilelist
frag1d/test/testseq.aa
frag1d/test/testseq.pssm
frag1d/test/try*/
